.App {
  background-image: url("./image/background.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 102px;
  top: 0;
  width: 100%;
  display: flex;
  .header-left {
    position: relative;
    width: 50%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;
    .menu-btn {
      cursor: pointer;
      width: 74px;
      img {
        height: 48px;
      }
    }
    .logo {
      width: 170px;
      padding-left: 30px;
      img {
        height: 28px;
      }
    }
    .search-bar-area {
      width: 40%;
      padding-left: 50px;
      .search-bar {
        position: relative;
        background-color: #222223;
        border-radius: 3px;
        padding: 10px 20px 10px 20px;
        display: flex;
        align-items: center;
        .search-bar-name {
          color: white;
          border-right: solid 2px #2d2d2e;
          margin-right: 30px;
        }
        .search-badge {
          height: 30px;
          width: 150px;
          background-color: #151516;
          border-radius: 3px;
          padding: 4px;
          display: flex;
          align-items: center;
          .k-mark {
            display: flex;
            align-items: center;
            border-right: solid 2px #2d2d2e;
            width: 50%;
            .k-text {
              text-align: center;
              width: 100%;
            }
          }
          .rise-mark {
            display: flex;
            align-items: center;
            width: 50%;
            padding-left: 10px;
            color: #4ba60c;
            .rise-text {
              text-align: center;
              width: 100%;
            }
          }
        }
        .search-input {
          width: 45%;
          background-color: unset;
          border: none;
          color: white;
          padding: 0px 10px;
          &:focus {
            outline: none;
          }
        }
        .search-icon {
          color: #3c3c3d;
          position: absolute;
          right: 20px;
        }
      }
    }
  }
  .header-right {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .menubar {
      display: flex;
      height: 100%;
      .menu-item {
        width: 130px;
        display: flex;
        align-items: center;
        color: #2a2a2a;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        .menu-text {
          color: #47484a;
          margin-right: 10px;
        }
      }
    }
    .header-buttonlist {
      display: flex;
      height: 100%;
      width: 300px;
      align-items: center;
      justify-content: space-between;
      .login-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 45px;
        border-radius: 5px;
        background-color: #323234;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }
      .upload-button {
        background-color: #519622;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 45px;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
.creator-fans {
  width: 100%;
  .creator-fans-top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 225px;
    background-color: #151516;
    .arrow-down {
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid #151516;
      position: absolute;
      bottom: -9px;
    }
    .container {
      justify-content: space-evenly;
      .item-creator {
        display: flex;
        align-items: center;
        .text-creator {
          margin-left: 30px;
          .text-title {
            font-size: 18px;
            color: #5ace09;
            text-transform: uppercase;
            font-weight: bold;
          }
          .text-content {
            font-size: 35px;
            color: white;
          }
        }
      }
      .item-fan {
        display: flex;
        align-items: center;
        .text-fan {
          margin-left: 30px;
          .text-title {
            font-size: 18px;
            text-transform: uppercase;
            color: #2e2e2e;
            font-weight: bold;
          }
          .text-content {
            font-size: 35px;
            color: #484848;
          }
        }
      }
    }
  }
  .creator-fans-content {
    .container {
      flex-direction: column;
      .img-book {
        margin-top: 90px;
      }
      .text-header {
        margin-top: 60px;
        max-width: 1000px;
        text-align: center;
        .text-title {
          font-size: 65px;
          color: white;
        }
        .text-content {
          margin-top: 55px;
          font-size: 21px;
          color: #6f6f6f;
        }
      }
      .pricing-cardlist {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        .pricing-card {
          width: 20%;
          padding: 14px;
          .social-icon {
            // padding: 40px 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
          }
          .card-content {
            border: solid 2px #2a2a2a;
            padding: 25px;
            .card-top {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              border-bottom: solid 1px #383838;
              .card-content-header-text {
                font-size: 22px;
                color: #383838;
                font-weight: bold;
                margin-bottom: 25px;
              }
              .card-content-price-text {
                font-size: 55px;
                color: white;
                margin-bottom: 20px;
              }
              .card-content-fee-text {
                font-size: 16px;
                color: #2a2a2a;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 40px;
              }
            }
            .card-bottom{
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: 20px;
              .card-bottom-text{
                padding: 40px 20px;
                color: #555;
              }
            }
          }
        }
      }
    }
  }
}
.container {
  display: flex;
  width: 80%;
  max-width: 1400px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
