.App {
  background-image: url("./image/background.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  height: 102px;
  top: 0;
  width: 100%;
  display: flex;
  .header-left {
    position: relative;
    width: 50%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;
    .menu-btn {
      cursor: pointer;
      width: 74px;
      img {
        height: 48px;
      }
    }
    .logo {
      width: 170px;
      padding-left: 30px;
      img {
        height: 28px;
      }
    }
    .search_bar_area {
      width: 50%;
      padding-left: 50px;
      .search_bar {
        background-color: #222223;
        border-radius: 3px;
        padding: 10px 20px 10px 20px;
        display: flex;
        align-items: center;
        .search_bar_name {
          color: white;
          border-right: solid 2px #2d2d2e;
          margin-right: 30px;
        }
        .search_badge {
          height: 30px;
          width: 150px;
          background-color: #151516;
          border-radius: 3px;
          padding: 4px;
          display: flex;
          align-items: center;
          .k-mark {
            display: flex;
            align-items: center;
            border-right: solid 2px #2d2d2e;
            width: 50%;
            .k-text {
              text-align: center;
              width: 100%;
            }
          }
          .rise-mark {
            display: flex;
            align-items: center;
            width: 50%;
            padding-left: 10px;
            color: #4ba60c;
            .rise-text {
              text-align: center;
              width: 100%;
            }
          }
        }
        .search_input {
          width: 45%;
          background-color: unset;
          border: none;
          color: white;
          padding: 0px 10px;
          &:focus {
            outline: none;
          }
        }
        .search-icon {
          color: #3c3c3d;
        }
      }
    }
  }
  .header-right {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .menubar {
      display: flex;
      height: 100%;
      .menu-item {
        width: 130px;
        display: flex;
        align-items: center;
        color: #2a2a2b;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        .menu-text {
          color: #47484a;
          margin-right: 10px;
        }
      }
    }
    .header-buttonlist {
      display: flex;
      height: 100%;
      width: 300px;
      align-items: center;
      justify-content: space-between;
      .login-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 45px;
        border-radius: 5px;
        background-color: #323234;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }
      .upload-button {
        background-color: #519622;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 45px;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
.creator_fans {
  position: absolute;
  top: 102px;
  width: 100%;
  .creator_fans_top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 225px;
    background-color: #151516;
    .arrow_down {
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid #151516;
      position: absolute;
      bottom: -9px;
    }
    .container {
      justify-content: space-evenly;
      .item_creator {
        display: flex;
        align-items: center;
        .text_creator {
          margin-left: 30px;
          .text_title {
            font-size: 18px;
            color: #5ace09;
            text-transform: uppercase;
            font-weight: bold;
          }
          .text_content {
            font-size: 35px;
            color: white;
          }
        }
      }
      .item_fan {
        display: flex;
        align-items: center;
        .text_fan {
          margin-left: 30px;
          .text_title {
            font-size: 18px;
            text-transform: uppercase;
            color: #2e2e2e;
            font-weight: bold;
          }
          .text_content {
            font-size: 35px;
            color: #484848;
          }
        }
      }
    }
  }
  .creator_fans_content {
    .container {
      flex-direction: column;
      .img_book {
        margin-top: 90px;
      }
      .text-header {
        margin-top: 60px;
        max-width: 1000px;
        text-align: center;
        .text-title {
          font-size: 65px;
          color: white;
        }
        .text-content{
          margin-top: 55px;
          font-size: 21px;
          color: #6f6f6f;
        }
      }
    }
  }
}
.container {
  display: flex;
  width: 80%;
  max-width: 1400px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
