.App {
  background-image: url("./image/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  height: 102px;
  top: 0;
  width: 100%;
  .header-left {
    position: relative;
    width: 50%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;
    .menu-btn {
      // position: absolute;
      // float: left;
      width: 74px;
      img {
        height: 48px;
      }
    }
    .logo {
      width: 170px;
      padding-left: 30px;
      img {
        height: 28px;
      }
    }
    .search_bar_area {
      width: 50%;
      padding-left: 50px;
      .search_bar {
        background-color: #222223;
        border-radius: 3px;
        padding: 10px 20px 10px 20px;
        display: flex;
        align-items: center;
        .search_bar_name{
          color: white;
          border-right: solid 2px #2d2d2e;
          margin-right: 30px;
        }
        .search_badge{
          height: 30px;
          width: 150px;
          background-color: #151516;
          border-radius: 3px;
          padding: 4px;
          display: flex;
          align-items: center;
          .k-mark{
            display: flex;
            align-items: center;
            border-right: solid 2px #2d2d2e;
            width: 50%;
            .k-text{
              text-align: center;
              width: 100%;
            }
          }
          .rise-mark{
            display: flex;
            align-items: center;
            width: 50%;
            padding-left: 10px;
            color: #4ba60c;
            .rise-text{
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .header-right {
    position: relative;
    width: 50%;
  }
}
// .container {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   width: 350px;
//   position: relative;
// }
